:root {
  --primary: #17a34a;
  --error: red;
  --info: rgb(0, 183, 255);
  --warning: orange;
  --accent: #f5f2ee;
  --dark: #0a0a0a;
  --light: white;
  --bright: #bfff00;
  --secondary: #bfff00;
  --third: #007830;
  --main: #152900;
  --font-family: 'Plus Jakarta Sans', sans-serif !important;
  --light-logo: brightness(0) invert(1);
}

* {
  font-family: var(--font-family), sans-serif !important;
  font-optical-sizing: auto !important;
}

i {
  font-family: initial;
}
