.donut-inner {
  // margin-top: -100px;
  margin-bottom: 50px;
}
.donut-inner h5 {
  margin-bottom: 5px;
  margin-top: 0;
}
.donut-inner span {
  font-size: 12px;
}

h1,
h5 {
  padding: 0;
  margin: 0;
  line-height: initial;
}
