div.renderer {
  height: 100vh;
  width: 100vw;

  .container-fluid {
    width: inherit;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;

    .left {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;

      i {
        cursor: pointer !important;
        color: red !important;
        font-size: 25px;
      }
      select {
        height: 40px;
        width: max-content !important;
      }
    }
  }
}
