<footer class="bg-primary-950 text-white px-6 py-12">
  <div class="container w-full mx-auto">
    <div class="grid grid-cols-4 gap-8">
      <div class="col-span-4 md:col-span-2 lg:col-span-1">
        <div class="text-2xl font-bold mb-4 text-primary-400 size-10">
          <img src="assets/images/logos/logo-white.svg" alt="" />
        </div>
        <p class="text-gray-400 text-sm md:text-base">Your gateway to luxury living experiences</p>
        <div class="flex items-center gap-4 mt-4">
          <a href="https://www.tiktok.com/@the_aluxe_?_r=1&_t=ZM-91KqP7LPPW0" target="_blank"
            class="text-white hover:text-primary-400 transition-colors text-xl">
            <i class="bi bi-tiktok"></i>
          </a>
          <a href="https://www.facebook.com/fidel.castro.A?rdid=3qJvLdJf6pYhm44o&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F16xuSwK1xJ%2F#"
            target="_blank" class="text-white hover:text-primary-400 transition-colors text-xl">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="#" target="_blank" class="text-white hover:text-primary-400 transition-colors text-xl">
            <i class="bi bi-twitter-x"></i>
          </a>
          <a href="https://www.instagram.com/newmbani.ke/?igsh=cHBnd2gxNG00dDky#" target="_blank"
            class="text-white hover:text-primary-400 transition-colors text-xl">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="#" target="_blank" class="text-white hover:text-primary-400 transition-colors text-xl">
            <i class="bi bi-linkedin"></i>
          </a>
        </div>
      </div>
      <div class="col-span-2 lg:col-span-1">
        <h4 class="text-lg font-semibold mb-4">Quick Links</h4>
        <ul class="space-y-2 text-gray-400">
          <li>
            <a href="#" routerLink="/" class="hover:text-primary-400 text-sm md:text-base transition-colors">Home</a>
          </li>
          <li>
            <a href="#" routerLink="/about-us"
              class="hover:text-primary-400 text-sm md:text-base transition-colors">About Us</a>
          </li>
          <li>
            <a href="#" routerLink="/properties"
              class="hover:text-primary-400 text-sm md:text-base transition-colors">Property listings</a>
          </li>
        </ul>
      </div>


      <div class="col-span-4 md:col-span-2 lg:col-span-1">
        <h4 class="text-lg font-semibold mb-4">Let's Start Something</h4>
        <p class="text-gray-400 text-sm md:text-base mb-4">Big Together</p>
        <button class="btn-md" routerLink="/contact-us">Get Started</button>
      </div>
    </div>
    <div
      class="border-t border-gray-800 mt-8 pt-8 text-gray-400 flex flex-col md:flex-row md:justify-between md:items-center gap-2">
      <p class="w-full md:w-auto text-center md:text-left text-sm md:text-base">
        &copy; 2025 Newmbani. All rights reserved.
      </p>
      <p class="w-full md:w-auto text-center md:text-right text-sm md:text-base">
        Powered By
        <a href="https://bdcomputing.co.ke/" class="font-semibold hover:underline cursor-pointer" target="_blank"
          rel="noopener">BD Computing Limited</a>
      </p>
    </div>
  </div>
</footer>