@if (!customers) {
<app-data-loading />
} @if (customers) {
<div class="main flex-col">
  <div class="flex flex-col">
    <div class="mb-5">
      <div class="flex flex-row justify-between">
        <div>
          <p class="title">Customers List</p>
          <p>There are {{ paginatedData?.total }} Customers for you</p>
        </div>
        <!-- <div>
          <button type="button" (click)="addNewCustomer()"
            class="btn btn-primary p-2 px-4 text-sm font-semibold border border-gray-500 rounded-full hover:bg-primary-700 hover:text-white">
            Add New Customer
          </button>
        </div> -->
      </div>
    </div>
    <div class="card p-5">
      <div>
        <div class="flex flex-row justify-between mx-0 mx-full">
          <div>
            <app-search-input-widget [enableAdvancedSearch]="false" [keyword]="keyword"
              (keywordChangedEvent)="updateKeyword($event)" (searchButtonClickedEvent)="search()" />
          </div>

          <div style="width: max-content" class="flex flex-row gap-5 justify-end">
            <div>
              <div class="flex justify-end gap-2">
                @if (selectedCustomers.length > 0) {
                <app-dropdown-menu title="Actions" [items]="[
     { label: 'Print Statement', icon: 'bi bi-printer', action: printStatement }
   ]" panelClass="bg-base-100 rounded-box w-100 p-3 shadow-sm" [context]="this"></app-dropdown-menu>
                }
              </div>
            </div>
            <div class="flex justify-end gap-2">
              <app-dropdown-menu title="Export" [items]="[
              { label: 'As PDF', icon: 'bi bi-file-earmark-pdf', routerLink: ['/export/pdf'] },
              { label: 'As CSV', icon: 'bi bi-filetype-csv', action: exportTableToCSV }
            ]" [context]="this"></app-dropdown-menu>
            </div>
          </div>
        </div>
      </div>
      <div>
        <form [formGroup]="form">
          <table class="table-md w-full min-w-full border-separate border-spacing-0 rounded-lg shadow-sm bg-white">
            <thead class="bg-gray-50">
              <tr class="font-bold text-uppercase gs-0">
                <th class="w-10px pe-2 text-center px-6 py-3">
                  <div class="form-check form-check-sm form-check-custom form-check-solid flex justify-center">
                    <input class="form-check-input" type="checkbox" (change)="onSelectAll($event)" #selectAll />
                  </div>
                </th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Name
                </th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Email
                </th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Phone
                </th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Actions
                </th>
              </tr>
            </thead>
            @if (customers) {
            <tbody class="text-gray-600 font-semibold divide-y divide-gray-200">
              @if (loading) {
              <tr>
                <td class="text-center px-6 py-4" colspan="5">
                  @if (loading) {
                  <app-data-loading [fullPage]="false" />
                  }
                </td>
              </tr>
              } @if (!loading && customers.length === 0) {
              <tr>
                <td class="text-center px-6 py-4" colspan="5">
                  No Customers to display here
                </td>
              </tr>
              } @if (!loading && customers.length > 0) { @for (_customer of
              customers; track _customer) {
              <tr class="hover:bg-gray-50">
                <td class="text-center px-6 py-4">
                  <div class="form-check form-check-sm form-check-custom form-check-solid flex justify-center">
                    <input class="form-check-input" type="checkbox" [value]="_customer._id"
                      [checked]="isChecked(_customer._id)" (change)="onCheckboxChange($event)" />
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                      <a href="#">
                        <div class="symbol-label bg-light-danger text-danger font-regular">
                          {{ _customer.name.charAt(0) }}
                        </div>
                      </a>
                    </div>
                    <div class="flex flex-col">
                      <a href="#" class="text-gray-800 font-normal text-hover-primary"
                        routerLink="/admin/customers/{{ _customer._id }}">{{ _customer.name }}</a>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700 font-normal text-left">
                  {{ _customer.email }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700 font-normal text-left">
                  {{ _customer.phone }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-left">
                  <div class="flex gap-2 items-center">
                    <button class="space-x-2" (click)="viewCustomer(_customer._id)">
                      <i class="bi bi-eye text-lg"></i>
                    </button>
                    <!-- <button class="space-x-2" (click)="editCustomer(_customer._id)">
                      <i class="bi bi-pencil-square text-lg"></i>
                    </button> -->
                  </div>
                </td>
              </tr>
              } }
            </tbody>
            }
          </table>
        </form>
        <!-- Pagination Section -->
        @if (paginatedData) {
        <ng-container class="mb-5">
          <app-pagination [paginatedData]="paginatedData" (pageChange)="pageChange($event)"
            (itemsPerPageChange)="changePageSize($event)" />
        </ng-container>
        }
        <!-- End Pagination Section -->
      </div>
    </div>
  </div>
</div>
}