@if (isLoading()) {
<app-data-loading [fullPage]="true" />
} @else {
<div class="main flex-col">
    <div class="flex flex-col">
        <div class="mb-5">
            <div class="flex flex-row justify-between">
                <div>
                    <p class="text-xl font-semibold text-gray-800 ">Properties</p>
                    <p>There are {{ paginatedData()?.total || properties().length }} properties</p>
                </div>
                <div class=" flex items-center gap-3">
                    <button
                        class="py-2 px-4 rounded-full bg-primary hover:bg-primary-400 items-center text-center text-white font-semibold hover:font-bold disabled:opacity-50 disabled:cursor-not-allowed transition-colors duration-300 ease-in-out rounded-full"
                        (click)="addNewProperty()">Add Property</button>
                </div>
            </div>
        </div>

        <div class="card p-5">
            <div class="flex flex-row justify-between mx-0 mx-full mb-4">
                <div>
                    <app-search-input-widget [enableAdvancedSearch]="false" [keyword]="keyword()"
                        (keywordChangedEvent)="onSearchTermChange($event)"
                        (searchButtonClickedEvent)="onSearchTermChange($event)" />
                </div>
                <div style="width: max-content" class="flex flex-row gap-5 justify-end">
                    <div class="flex justify-end gap-2">
                        <app-dropdown-menu title="Export" [items]="[
								{ label: 'As PDF', icon: 'bi bi-file-earmark-pdf' },
								{ label: 'As CSV', icon: 'bi bi-filetype-csv', action: exportTableToCSV }
							]" [context]="this"></app-dropdown-menu>
                    </div>
                </div>
            </div>

            <form [formGroup]="form">
                <table
                    class="px-6 py-6 w-full min-w-full border-separate border-spacing-0 rounded-lg shadow-sm bg-white">
                    <thead>
                        <tr class="text-start text-sm text-gray-500 font-bold text-uppercase gs-0">
                            <th class="w-10px pe-2 border-b border-gray-200">
                                <div
                                    class="flex flex-row items-center gap-5 cursor-pointer hover:text-primary-600 hover:font-bold  me-3">
                                    <input
                                        class="flex flex-row items-center gap-5 cursor-pointer hover:text-primary-600 hover:font-bold-input"
                                        type="checkbox" (change)="onSelectAll($event)" #selectAllElement />
                                </div>
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Title</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Landlord</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Status</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Created</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Actions</th>
                        </tr>
                    </thead>
                    @if (properties()) {
                    <tbody class="text-gray-600 font-semibold">
                        @if (isLoading()) {
                        <tr>
                            <td style="text-align: center" colspan="6">
                                <app-data-loading [fullPage]="false" />
                            </td>
                        </tr>
                        } @if (!isLoading() && properties().length === 0) {
                        <tr>
                            <td style="text-align: center" colspan="6">No Properties to display here</td>
                        </tr>
                        } @if (!isLoading() && properties().length > 0) { @for (_property of properties(); track
                        _property._id) {
                        <tr>
                            <td>
                                <div
                                    class="flex flex-row items-center gap-5 cursor-pointer hover:text-primary-600 hover:font-bold ">
                                    <input
                                        class="flex flex-row items-center gap-5 cursor-pointer hover:text-primary-600 hover:font-bold-input"
                                        type="checkbox" [value]="_property._id" (change)="onCheckboxChange($event)" />
                                </div>
                            </td>
                            <td class="flex items-center">
                                <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                                    <a href="#">
                                        <div class="symbol-label bg-light-primary text-primary font-normal">
                                            {{ _property.title.charAt(0) }}
                                        </div>
                                    </a>
                                </div>
                                <div class="flex flex-col">
                                    <a href="#" class="text-gray-500 text-hover-primary font-normal"
                                        routerLink="/properties/{{ _property.slug }}">{{ _property.title }}</a>
                                </div>
                            </td>
                            <td class="px-6 py-2.5 whitespace-nowrap text-sm text-gray-700 font-normal">{{
                                _property.landlord.name || '—' }}</td>
                            <td class="px-6 py-2.5 whitespace-nowrap">
                                <span
                                    [class]="_property.approvalStatus === 'approved' ? 'bg-green-100 text-green-800' : 'bg-yellow-100 text-yellow-800'"
                                    class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full">{{
                                    _property.approvalStatus }}</span>
                            </td>
                            <td class="px-6 py-2.5 whitespace-nowrap text-sm text-gray-500 font-normal">{{
                                _property.createdAt | date : 'medium' }}</td>
                            <td class="px-6 py-2.5 whitespace-nowrap flex gap-2 text-right">
                                <button (click)="viewProperty(_property.slug)"><i
                                        class="bi bi-eye text-lg"></i></button>
                                @if(isLandlord()){
                                <button (click)="editProperty(_property._id)"><i
                                        class="bi bi-pencil text-lg"></i></button>
                                }
                                <button (click)="deleteProperty(_property)"><i
                                        class="bi bi-trash text-lg text-red-500"></i></button>
                            </td>
                        </tr>
                        } }
                    </tbody>
                    }
                </table>
            </form>

            @if (paginatedData()) {
            <div class="mb-5">
                <app-pagination [paginatedData]="paginatedData()" (pageChange)="onPageChange($event)"
                    (itemsPerPageChange)="handlePageSizeChange($event)" />
            </div>
            }
        </div>
    </div>
</div>
}