<div class="bg-white50 py-10">
  <div class="mx-auto container w-full px-6 lg:px-8">
    <h2 class="text-center text-lg/8 font-semibold text-gray-900">
      Partnered with the world's most innovative teams
    </h2>
    <div
      class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="assets/images/partners/architev.jpg"
        alt="Transistor" width="158" height="60" />

      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="assets/images/partners/bs.png"
        alt="Reform" width="158" height="60" />

      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
        src="assets/images/partners/noline-empire-logo.png" alt="Noline-Empire" width="158" height="60" />

      <img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1"
        src="assets/images/partners/raynodes-logo.png" alt="Raynodes" width="158" height="60" />

      <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1"
        src="assets/images/partners/bd-logo-dark.png" alt="BD computing" width="158" height="60" />
    </div>
  </div>
</div>