<div class="flex flex-col">
  <div class="py-3 py-lg-5">
    <div class="w-full mx-auto">
      <div class="card p-3 lg:p-5">
        <div class="flex flex-row justify-between items-center">
          <div>
            <p class="text-xl font-semibold text-gray-800 ">Register A New Customer</p>
            <div class=" text-sm text-gray-500">
              If you need more info, please check out
              <a href="#" class="link-primary font-bold">Help Page</a>.
            </div>
          </div>
          <div>
            <button (click)="goToCustomerList()"
              class="btn py-2 px-4 rounded-full bg-white hover:bg-primary hover:text-white items-center text-center text-primary border-2 border-primary font-semibold hover:font-bold disabled:opacity-50 disabled:cursor-not-allowed transition-colors duration-300 ease-in-out p-2 px-4 text-sm font-semibold border-2 border-gray-500 rounded-full hover:bg-primary-700 hover:text-white">
              <i class="bi bi-arrow-left me-2"></i>
              Back to Customer List
            </button>
          </div>
        </div>
        <div>
          <div class="flex flex-col">
            <div class="mt-4">
              <form [formGroup]="registerNewCustomer" (ngSubmit)="createNewCustomer()" class="space-y-4">
                <div>
                  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div>
                      <div>
                        <label class="block font-medium text-gray-600 text-sm required" for="name">Customer Name</label>
                        <input type="text" formControlName="name" name="name"
                          class="bg-gray-50/80  border border-gray-300 text-gray-900 text-sm rounded-lg block w-full px-2.5 py-3 focus:outline-1 focus:ring-2 focus:ring-primary focus:border-primary placeholder:text-gray-400"
                          placeholder="e.g John Smith" />
                        @if (
                        registerNewCustomer.controls['name'].invalid &&
                        (registerNewCustomer.controls['name'].dirty ||
                        registerNewCustomer.controls['name'].touched) )
                        {
                        <div class="input-error">
                          @if (
                          registerNewCustomer.controls['name'].errors?.[
                          'required' ] ) {
                          <div>
                            <span class="text-danger">
                              Customer Name is required.
                            </span>
                          </div>
                          }
                        </div>
                        }
                      </div>
                    </div>

                    <div>
                      <div>
                        <label class="block font-medium text-gray-600 text-sm required" for="email">Email</label>
                        <input type="email" formControlName="email" name="email"
                          class="bg-gray-50/80  border border-gray-300 text-gray-900 text-sm rounded-lg block w-full px-2.5 py-3 focus:outline-1 focus:ring-2 focus:ring-primary focus:border-primary placeholder:text-gray-400"
                          placeholder="e.g email@example.com" autocomplete="new-email" />
                        @if ( registerNewCustomer.controls['email'].invalid &&
                        (registerNewCustomer.controls['email'].dirty ||
                        registerNewCustomer.controls['email'].touched) ) {
                        <div class="input-error">
                          @if ( registerNewCustomer.controls['email'].errors?.[
                          'required' ] ) {
                          <div>
                            <span class="text-danger">
                              Email is required.
                            </span>
                          </div>
                          } @if (
                          registerNewCustomer.controls['email'].errors?.[
                          'email' ] ) {
                          <div>
                            <span class="text-danger"> Email is invalid. </span>
                          </div>
                          }
                        </div>
                        }
                      </div>
                    </div>
                  </div>
                  <div class="mt-5 grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div>
                      <div>
                        <label class="block font-medium text-gray-600 text-sm required" for="password">Password</label>
                        <input type="password" formControlName="password"
                          class="bg-gray-50/80  border border-gray-300 text-gray-900 text-sm rounded-lg block w-full px-2.5 py-3 focus:outline-1 focus:ring-2 focus:ring-primary focus:border-primary placeholder:text-gray-400"
                          name="password" placeholder="AB@12345" autocomplete="new-password" />
                        @if ( registerNewCustomer.controls['password'].invalid
                        && (registerNewCustomer.controls['password'].dirty ||
                        registerNewCustomer.controls['password'].touched) ) {
                        <div class="input-error">
                          @if (
                          registerNewCustomer.controls['password'].errors?.[
                          'required' ] ) {
                          <div>
                            <span class="text-danger">
                              Password is required.
                            </span>
                          </div>
                          } @if (
                          registerNewCustomer.controls['password'].errors?.[
                          'invalidPassword' ] ) {
                          <div>
                            <span class="text-danger">
                              Password should be at least 8 characters long and
                              contain at least 1 number, 1 uppercase letter, 1
                              lowercase letter, and 1 special character.
                            </span>
                          </div>
                          }
                        </div>
                        }
                      </div>
                    </div>
                    <div>
                      <div>
                        <label class="block font-medium text-gray-600 text-sm required" for="phone">Phone Number</label>
                        <input type="tel" formControlName="phone"
                          class="bg-gray-50/80  border border-gray-300 text-gray-900 text-sm rounded-lg block w-full px-2.5 py-3 focus:outline-1 focus:ring-2 focus:ring-primary focus:border-primary placeholder:text-gray-400"
                          name="phone" placeholder="0712345678" />
                        @if ( registerNewCustomer.controls['phone'].invalid &&
                        (registerNewCustomer.controls['phone'].dirty ||
                        registerNewCustomer.controls['phone'].touched) ) {
                        <div class="input-error">
                          @if ( registerNewCustomer.controls['phone'].errors?.[
                          'required' ] ) {
                          <div>
                            <span class="text-danger">
                              Phone is required.
                            </span>
                          </div>
                          }
                        </div>
                        }
                      </div>
                    </div>
                  </div>
                </div>

                <!-- BEGIN ADDRESS FIELDS -->
                <div class="mt-7 p-4 border rounded bg-gray-50">
                  <p class="font-semibold mb-2">Address Details</p>
                  <div formGroupName="address" class="grid grid-cols-1 sm:grid-cols-3 gap-4">
                    <div>
                      <label class="block font-medium text-gray-600 text-sm required" for="countryId">Country</label>
                      <select
                        class="bg-gray-50/80  border border-gray-300 text-gray-900 text-sm rounded-lg block w-full px-2.5 py-3 focus:outline-1 focus:ring-2 focus:ring-primary focus:border-primary"
                        id="countryId" formControlName="countryId">
                        <option value="">Select Country</option>
                        @for (c of countries() || []; track c._id) {
                        <option [value]="c._id">{{ c.name }}</option>
                        }
                      </select>
                      @if (
                      registerNewCustomer.get('address.countryId')?.invalid &&
                      (registerNewCustomer.get('address.countryId')?.dirty ||
                      registerNewCustomer.get('address.countryId')?.touched)
                      ) {
                      <div class="input-error">
                        @if (registerNewCustomer.get('address.countryId')?.errors?.['required']) {
                        <span class="text-danger">Country is required.</span>
                        }
                      </div>
                      }
                    </div>
                    <div>
                      <label class="block font-medium text-gray-600 text-sm required" for="county">County</label>
                      <input type="text"
                        class="bg-gray-50/80  border border-gray-300 text-gray-900 text-sm rounded-lg block w-full px-2.5 py-3 focus:outline-1 focus:ring-2 focus:ring-primary focus:border-primary"
                        id="county" formControlName="county" placeholder="e.g Nairobi" />
                      @if (
                      registerNewCustomer.get('address.county')?.invalid &&
                      (registerNewCustomer.get('address.county')?.dirty ||
                      registerNewCustomer.get('address.county')?.touched)
                      ) {
                      <div class="input-error">
                        @if (registerNewCustomer.get('address.county')?.errors?.['required']) {
                        <span class="text-danger">County is required.</span>
                        }
                      </div>
                      }
                    </div>
                    <div>
                      <label class="block font-medium text-gray-600 text-sm" for="town">Town/Area</label>
                      <input type="text"
                        class="bg-gray-50/80  border border-gray-300 text-gray-900 text-sm rounded-lg block w-full px-2.5 py-3 focus:outline-1 focus:ring-2 focus:ring-primary focus:border-primary"
                        id="town" formControlName="town" placeholder="e.g Karen" />
                    </div>
                    <div>
                      <label class="block font-medium text-gray-600 text-sm" for="street">Street</label>
                      <input type="text"
                        class="bg-gray-50/80  border border-gray-300 text-gray-900 text-sm rounded-lg block w-full px-2.5 py-3 focus:outline-1 focus:ring-2 focus:ring-primary focus:border-primary"
                        id="street" formControlName="street" placeholder="e.g Lang'ata Road" />
                    </div>
                    <div>
                      <label class="block font-medium text-gray-600 text-sm" for="building">Building</label>
                      <input type="text"
                        class="bg-gray-50/80  border border-gray-300 text-gray-900 text-sm rounded-lg block w-full px-2.5 py-3 focus:outline-1 focus:ring-2 focus:ring-primary focus:border-primary"
                        id="building" formControlName="building" placeholder="e.g Apartment 702" />
                    </div>
                  </div>
                </div>
                <!-- END ADDRESS FIELDS -->

                <div class="pt-5 flex flex-row gap-5">
                  <app-button type="button" [styles]="'btn !bg-gray-200 !text-gray-700 me-3 rounded-full'"
                    (buttonClicked)="discard()" label="Discard" />
                  <app-button [label]="'Submit'" [isLoading]="isLoading" type="submit"
                    [styles]="'w-full !rounded-full inline-flex items-center justify-center shadow-sm whitespace-nowrap text-base font-medium text-white'" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>