<form [formGroup]="paymentForm">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div class="space-y-2">
      <label for="drawerName" class="required">Drawer Name </label>
      <div class="flex">
        <input type="text" formControlName="drawerName" name="drawerName" id="drawerName" placeholder="Drawer Name" />
        @if (name) {
        <button
          class="inline-flex items-center px-3 py-2 border border-transparent text-sm font-medium rounded-r-md text-white bg-primary hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary"
          (click)="setDrawerName()">
          <i class="bi bi-clipboard2-check mr-1"></i>
          Copy
        </button>
        }
      </div>
      @if (paymentForm.get('drawerName')?.invalid &&
      (paymentForm.get('drawerName')?.dirty ||
      paymentForm.get('drawerName')?.touched)) {
      <p class="mt-1 text-sm text-red-600">
        @if (paymentForm.get('drawerName')?.errors?.['required']) {
        <span> Drawer name is required </span>
        }
      </p>
      }
    </div>
    <div class="space-y-2">
      <label for="accountNumber" class="required">Account Number </label>
      <input type="text" formControlName="accountNumber" name="accountNumber" id="accountNumber"
        placeholder="Cheque Number" />
      @if (paymentForm.get('accountNumber')?.invalid &&
      (paymentForm.get('accountNumber')?.dirty ||
      paymentForm.get('accountNumber')?.touched)) {
      <p class="mt-1 text-sm text-red-600">
        @if (paymentForm.get('accountNumber')?.errors?.['required']) {
        <span> Cheque number is required </span>
        }
      </p>
      }
    </div>
    <div class="space-y-2">
      <label for="transferReference" class="required">Transfer Reference
      </label>
      <input type="text" formControlName="transferReference" name="transferReference" id="transferReference"
        placeholder="Transfer Reference Number" />
      @if (paymentForm.get('transferReference')?.invalid &&
      (paymentForm.get('transferReference')?.dirty ||
      paymentForm.get('transferReference')?.touched)) {
      <p class="mt-1 text-sm text-red-600">
        @if (paymentForm.get('transferReference')?.errors?.['required']) {
        <span> Transfer reference number is required </span>
        }
      </p>
      }
    </div>
    <div class="space-y-2">
      <label for="bankName" class="required">Bank Name</label>
      <input type="text" formControlName="bankName" name="bankName" id="accountNumber" placeholder="Bank Name" />
      @if (paymentForm.get('bankName')?.invalid &&
      (paymentForm.get('bankName')?.dirty ||
      paymentForm.get('bankName')?.touched)) {
      <p class="mt-1 text-sm text-red-600">
        @if (paymentForm.get('bankName')?.errors?.['required']) {
        <span> Bank Name is required </span>
        }
      </p>
      }
    </div>
    <div class="space-y-2">
      <label for="amountPaid" class="required">Amount Paid</label>
      <input type="number" formControlName="amountPaid" name="amountPaid" id="amountPaid" placeholder="Paid Amount" />
      @if (paymentForm.get('amountPaid')?.invalid &&
      (paymentForm.get('amountPaid')?.dirty ||
      paymentForm.get('amountPaid')?.touched)) {
      <p class="mt-1 text-sm text-red-600">
        @if (paymentForm.get('amountPaid')?.errors?.['required']) {
        <span> Amount paid is required </span>
        }
      </p>
      }
    </div>
    <div class="space-y-2">
      <label for="paymentDate" class="required">Payment Date </label>
      <input type="date" formControlName="paymentDate" name="paymentDate" id="paymentDate" placeholder="Payment Date" />
      @if (paymentForm.get('paymentDate')?.invalid &&
      (paymentForm.get('paymentDate')?.dirty ||
      paymentForm.get('paymentDate')?.touched)) {
      <p class="mt-1 text-sm text-red-600">
        @if (paymentForm.get('paymentDate')?.errors?.['required']) {
        <span> Payment date is required </span>
        }
      </p>
      }
    </div>
  </div>
  <div class="mt-4">
    <app-button label="Receive Payment" [showIcon]="false" [disabled]="paymentForm.invalid"
      (buttonClicked)="submitPayment()" />
  </div>
</form>