@if (!employee) {
<app-data-loading />
} @if (employee) {
<div class="flex flex-row justify-between items-center">
  <div class="mb-6">
    <p class="text-xl font-semibold text-gray-800 ">Employee Information</p>
    <div class=" text-sm text-gray-500">
      If you need more info, please check out
      <a href="#" class="link-primary font-bold">Help Page</a>.
    </div>
  </div>
  <div class="flex gap-3">
    <button href="#"
      class="btn py-2 px-4 rounded-full bg-white hover:bg-primary hover:text-white items-center text-center text-primary border-2 border-primary font-semibold hover:font-bold disabled:opacity-50 disabled:cursor-not-allowed transition-colors duration-300 ease-in-out p-2 px-4 text-sm font-semibold border-2 border-gray-500 rounded-full hover:bg-primary-700 hover:text-white"
      routerLink="/admin/employees/{{ employee._id }}/edit">
      Update Employee Profile
    </button>
    <button (click)="goToEmployeeList()"
      class="btn py-2 px-4 rounded-full bg-white hover:bg-primary hover:text-white items-center text-center text-primary border-2 border-primary font-semibold hover:font-bold disabled:opacity-50 disabled:cursor-not-allowed transition-colors duration-300 ease-in-out p-2 px-4 text-sm font-semibold border border-2 border-gray-500 rounded-full hover:bg-primary-700 hover:text-white">
      <i class="bi bi-arrow-left me-2"></i>
      Back to Employee List
    </button>
  </div>
</div>
<div class="card mx-auto w-full p-5 bg-primary-50/40 rounded-xl">
  <div>
    <div class="flex gap-3 items-center">
      <div
        class="w-16 h-16 rounded-full bg-primary-600 flex items-center justify-center text-3xl font-bold mb-4 text-white uppercase">
        {{ employee.name ? (employee.name | initials) : "N/A" }}
      </div>
      <div>
        <div class="text-xl font-bold text-primary-800">
          {{ employee.name }}
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 lg:grid-cols-3 gap-2">
    <div class="my-2">
      <div class="font-bold mb-1">Employee Name</div>
      <div class="text-gray-600">
        <span> <i class="bi bi-person-circle me-1 pr-2"></i></span>{{
        employee.name }}
      </div>
    </div>
    <div class="my-2">
      <div class="font-bold mb-1">Email</div>
      <div class="text-gray-600">
        <p class="text-gray-600 text-hover-primary">
          <span><i class="bi bi-envelope me-1 pr-2"></i></span> {{
          employee.email || 'N/A' }}
        </p>
      </div>
    </div>
    <div class="my-2">
      <div class="font-bold mb-1">Phone Number</div>
      <div class="text-gray-600">
        <span><i class="bi bi-telephone me-1 pr-2"></i></span> {{ employee.phone
        || 'N/A' }}
      </div>
    </div>
    <div class="my-2">
      <div class="font-bold mb-1">Role</div>
      <div class="text-gray-600">
        <span><i class="bi bi-star me-1 pr-2"></i></span>{{ getRoleById() ||
        'N/A' }}
      </div>
      @if (getRoleDescription() !== '-') {
      <div class="text-gray-500 text-sm">{{ getRoleDescription() }}</div>
      }
    </div>
    <div class="my-2">
      <div class="font-bold mb-1">Created At</div>
      <div class="text-gray-600">
        <span><i class="bi bi-clock-history me-1 pr-2"></i></span>
        {{ employee.createdAt | date : 'mediumDate' }}
      </div>
    </div>
    <div class="my-2">
      <div class="font-bold mb-1">Status</div>
      <div>
        <i class="bi bi-info-circle me-1 pr-2"></i>
        @if (employee.isActive) {
        <span class="badge">Active</span>
        } @if (!employee.isActive) {
        <span class="badge badge-light-error">In-Active</span>
        }
      </div>
    </div>
  </div>
</div>
<!-- <div class="card p-5">
      <router-outlet />
    </div> -->
}