@if (isLoading()) {
<app-data-loading [fullPage]="true" />
}@else {

<!-- Main Panel -->
<main class="flex-1 p-6 shadow rounded-xl">
  <div class="flex justify-between">
    <div>
      <div class="flex gap-3 items-center">
        <div
          class="w-16 h-16 rounded-full bg-primary-600 flex items-center justify-center text-3xl font-bold mb-4 text-white uppercase">
          {{ landlord()?.name ? (landlord()?.name | initials) : "N/A" }}
        </div>
        <div>
          <div class="text-xl font-bold text-primary-800">
            {{ landlord()?.name }}
            <span class="inline-flex items-center gap-1">
              <span class="inline-flex items-center gap-2 px-3 py-1 rounded-full text-sm font-semibold" [ngClass]="{
                  'bg-green-100 text-green-700': landlord()?.approvalStatus === landlordApprovalStatus.APPROVED,
                  'bg-yellow-100 text-yellow-700': landlord()?.approvalStatus === landlordApprovalStatus.UNDER_REVIEW,
                  'bg-red-100 text-red-700': landlord()?.approvalStatus === landlordApprovalStatus.REJECTED
                }">
                <i [ngClass]="{
                    'bi bi-check-circle-fill text-green-500': landlord()?.approvalStatus === landlordApprovalStatus.APPROVED,
                    'bi bi-patch-exclamation-fill text-yellow-500': landlord()?.approvalStatus === landlordApprovalStatus.UNDER_REVIEW,
                    'bi bi-x-circle-fill text-red-600': landlord()?.approvalStatus === landlordApprovalStatus.REJECTED
                  }" class="text-base"></i>
                {{
                landlord()?.approvalStatus === landlordApprovalStatus.APPROVED
                ? 'Approved'
                : landlord()?.approvalStatus === landlordApprovalStatus.UNDER_REVIEW
                ? 'Pending'
                : 'Rejected'
                }}
              </span>
            </span>
          </div>
          <div class="flex gap-2">
            <i class="bi bi-geo-alt text-primary-600"></i>
            <span>{{ landlord()?.address?.street }}, {{ landlord()?.address?.town }}, {{
              landlord()?.address?.county }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-8 w-max flex gap-2">
      <app-button (buttonClicked)="goBack()" [label]="'Back'"
        [styles]="'w-full !py-2 !rounded-lg !bg-gray-100 !text-primary-700 !font-semibold !border !border-gray-200 hover:!bg-gray-200'"></app-button>
      @if(landlord()?.approvalStatus !== landlordApprovalStatus.APPROVED){

      <app-button (buttonClicked)="verifyLandlordDialog()" [label]="'Verify'"
        [styles]="'w-full !py-2 !rounded-lg '"></app-button>
      }

    </div>
  </div>

  <div class="bg-primary-50/40 rounded-2xl p-6 mb-6 border border-slate-200">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

      <div>
        <div class="text-xs text-gray-500 font-semibold">Created</div>
        <div class="text-base text-gray-900 font-medium">
          {{ landlord()?.createdAt | date:'medium' }}
        </div>
      </div>
      <div>
        <div class="text-xs text-gray-500 font-semibold">Name </div>
        <div class="text-base text-gray-900 font-medium">
          {{ landlord()?.name || '-' }}
        </div>
      </div>
      <div>
        <div class="text-xs text-gray-500 font-semibold">Email</div>
        <div class="text-base text-gray-900 font-medium">
          {{ landlord()?.email || '-' }}
        </div>
      </div>
      <div>
        <div class="text-xs text-gray-500 font-semibold">Phone</div>
        <div class="text-base text-gray-900 font-medium">
          {{ landlord()?.phone || '-' }}
        </div>
      </div>
      <div class="md:col-span-2">
        <div class="text-xs text-gray-500 font-semibold">Location</div>
        <div class="text-base text-gray-900 font-medium">
          {{ landlord()?.address?.street }}, {{ landlord()?.address?.town }}, {{
          landlord()?.address?.county }}, {{ landlord()?.country?.name }}
        </div>
      </div>
    </div>
  </div>

  <!--    landlord documents -->

  <!-- <div class="bg-white p-6 mb-6 ">
    <h2 class="text-lg font-semibold mb-4">Documents</h2>
    <div class="overflow-x-auto">
      <table class="w-full table table-auto text-sm">
        <thead class="bg-gray-50 text-gray-600">
          <tr>
            <th class="py-2 px-4 text-left">Document Name</th>
            <th class="py-2 px-4 text-left">Status</th>
            <th class="py-2 px-4 text-left">Verified</th>
            <th class="py-2 px-4">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (document of landlord()?.documents; track document._id) {
          <tr class="border-t">
            <td class="py-2 px-4">{{document.document.name}}</td>
            <td class="py-2 px-4">
              @if ( document.fileId) {
              <span class="px-2 py-1 text-xs bi-patch-check rounded me-2 font-bold text-primary">
                {{document.status | titlecase}}</span>
              }@else{
              <span class="px-2 py-1 text-xs bi bi-patch-exclamation rounded font-bold me-2 text-yellow-700">
                {{document.status | titlecase}}</span>
              }
            </td>
            <td class="py-2 px-4">
              @if (document.verified) {

              <span class="px-2 py-1 bi-patch-check rounded me-2 font-bold text-primary">
                Verified</span>
              }@else{
              <span class="px-2 py-1 text-xs bi bi-patch-exclamation rounded font-bold me-2 text-yellow-700">
                Not Verified</span>
              }
            </td>
            <td class="py-2 px-4 flex items-center justify-center">
              @if(document.fileId){
              <button [cdkMenuTriggerFor]="actionMenu" class="px-2  py-2 bg-white rounded-lg transition-color**s"
                aria-label="Open actions for documents">
                <i class="bi bi-three-dots-vertical text-lg"></i>
              </button>
              <ng-template #actionMenu>
                <div cdkMenu class="w-52 bg-white rounded-lg shadow-lg border p-2 min-w-48 z-50">
                  <button
                    class="w-full text-left px-4 py-2 rounded-none bg-white hover:bg-gray-100 hover:text-gray-700 text-gray-600 transition-colors"
                    (click)="viewDocument(document)">
                    <i class="bi bi-eye"></i>
                    View
                  </button>

                </div>
              </ng-template>
              }

            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div> -->
</main>

}